@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:wght@300;400;600&display=swap');

@layer base {


  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;

    @screen lg {
      padding: 0 30px;
      max-width: 1270px;
    }
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.markdown-body {
  color: #000;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.markdown-body a {
  color: #000;
  text-decoration: underline;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin: 15px 0;
}

.markdown-body ul {
  list-style-type: inherit;
}

.markdown-body ol {
  list-style-type: inherit;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 30px;
}

.markdown-body h1 {
  color: #000;
  font-size: 16px;
}

.markdown-body h2 {
  color: #000;
  font-size: 15px;
}

.markdown-body h3 {
  font-size: 14px;
}

.markdown-body h4 {
  font-size: 14px;
}

.markdown-body h5 {
  font-size: 14px;
}

.markdown-body h6 {
  color: #777;
  font-size: 14px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px 0;
}

.markdown-body h1+p,
.markdown-body h2+p,
.markdown-body h3+p {
  margin-top: 10px;
}

.markdown-body img {
  max-width: 100%;
}

.markdown-body code,
.markdown-body pre {
  background-color: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #DDD;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
  white-space: pre;
}

.markdown-body pre code {
  border: none;
  margin: 0;
  padding: 0;
  white-space: pre;
}

.Nunito {
  font-family: 'Nunito';
}


.seo-text h1 {
  font-family: "Commissioner", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535 !important;
  margin-bottom: 16px;
}

.seo-text h2 {
  font-family: "Commissioner", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535 !important;
}

.seo-text p {
  font-family: "Commissioner", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #353535 !important;
}

.seo-text strong {
  font-weight: 700;
}